body {
	text-align: center;
	margin: 0;
}

header {
	background-color: #f15b31;
	color: #ffffff;
	padding: 30px 20px;
}

h1, h2, a {
	text-transform: uppercase;
	font-family: "Raleway", sans-serif;
	letter-spacing: 1px;
}

h2 {
	color: #0D2C40;
}

a, h2 {
	font-weight: 600;
}

h1 {
	font-weight: 400;
	font-size: 45px;
	margin: 0;
}

h2 {
	font-size: 20px;
	padding-bottom: 10px;
}

p, button {
	font-family: "Droid Serif", serif;
	line-height: 26px;
	font-size: 18px;
	margin-top: 15px;
}

nav {
	background-color: #00a6b3;
	color: #ffffff;
	padding: 20px 0;
}

nav a {
	color: #ffffff;
}

a {
	text-decoration: none;
	font-size: 18px;
	margin: 0 20px;
	border-bottom: 2px solid transparent;
}

a:hover {
	border-color: white;
}

main {
	width: 850px;
	margin: 35px auto;
}

img {
	margin: 40px 8px;
}

footer {
	text-transform: uppercase;
	padding: 0 20px 15px 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}

button {
	font-family: "Raleway", sans-serif;
	height: 40px;
	margin: 0 0 10px 0;
	width: 120px;
	color: #fff;
	background-color: #f15b31;
	border: 5px solid #00a6b3;
	line-height: normal;
}

.copyright {
	font-family: "Raleway", sans-serif;
	float: left;
}

.message {
	font-family: "Raleway", sans-serif;
	float: right;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

.name {
	color: #F15B31;
	font-weight: 700;
}

.score-box {
	font-family: "Raleway", sans-serif;
	background-color: #00a6b3;
	width: 80px;
	float: right;
	margin: 20px 55px 0 0;
	color: #ffffff;
	border: 5px solid #f15b31;
	padding: 5px;
}

#game-board {
	clear:both;
}